<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="./login.component.css" rel="stylesheet" type="text/css" />
  <title>Inicio</title>
</head>
<body>
  <div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">

    <div class="signup">
      <form>
        <label for="chk" aria-hidden="true">Sign up</label>
        <input type="text" name="txt" placeholder="User name" [ngModel]="singupObj.userName">  
        <input type="email" name="email" placeholder="Email" [ngModel]="singupObj.email">
        <input type="password" name="pswd" placeholder="Password" [ngModel]="singupObj.password">
        <button>Sign up</button>
      </form>
    </div>

    <div class="login">
      <form>
        <label for="chk" aria-hidden="true">Login</label>
        <input type="email" name="email" placeholder="Email" required="" [ngModel]="loginObj.email">
        <input type="password" name="pswd" placeholder="Password" required="" [ngModel]="loginObj.password" >
        <button>Login</button>
      </form>
    </div>
  </div>
</body>
</html>

